.Post {
    width: 250px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc, 0 0 5px #eee;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.Post:hover,
.Post:active {
    box-shadow: 0 5px 10px #ccc, 0 0 10px #eee;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}